# OpenAI Configuration
OPENAI_API_KEY=api_key
# Database Configuration
# Set USE_SQLITE=True to use local sqlite.db
# Set DATABASE_URL if you want to use PostgreSQL (Neon)
USE_SQLITE=True
DATABASE_URL=postgresql://user:pass@host/db?sslmode=require

# App Settings
PORT=8000
HOST=0.0.0.0
DEBUG=True
    